
$primary: #2972cc;

$success: #5cb85c;

$danger: #ed4259;

$btn-default-bg: #fff;
$btn-default-border: #d1d2d4;
$btn-default-color: #4a4a4a;

$btn-primary-bg: $primary;
$btn-primary-border: #2566b7;
$btn-primary-color: #fff;

$btn-danger-bg: $danger;
$btn-danger-border: #eb2b45;
$btn-danger-color: #fff;

$btn-link-bg: transparent;
$btn-link-border: transparent;
$btn-link-color: #2972cc;

$spinner-color: #fff;
